{% extends 'base.html.twig' %}

{% block title %}Mangarama{% endblock %}

{% block body %}
<div class="index-container">

    <section class="banner">
        <div>
            <div class="line"></div>
            <h1>
                Bienvenue sur <i>Mangarama</i>,
                <br>
                la meilleure médiathèque
                <br>
                de mangas !
            </h1>
        </div>
        <div>
            <h2>Derniers Ajouts</h2>
            <div class="last-added">
                <ul>
                    {% for manga in lastAdded %}
                        {# <a href="{{ path('manga', {'id': manga.id}) }}"> #}
                        <li id="{{ loop.index == 2 ? 'selected' : ''  }}">
                            <img src="{{ manga.image ? asset('images/' ~ manga.image) : "https://www.biotrop.org/images/default-book.png" }}" alt="{{ manga.name }}">
                            <div class="text">
                                <h3>{{ manga.name }}</h3>
                            </div>
                        </li>
                        {# </a> #}
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>

    <section class="mangas">

        <div class="manga-header">
            <div>Nom</div>
            <div>Description</div>
            <div>Score</div>
            <div>Nombre de votants</div>
        </div>

        <ul class="manga-list">
            {% for manga in mangas %}
                <a href="{{ path('manga', {'id': manga.id}) }}">
                <li class="manga" style="
                    background-image: linear-gradient(to right, rgba(0,0,0, 0), rgba(58, 49, 102, 1)),
                                      url({{ manga.image ? asset('images/' ~ manga.image) : "" }});
                    animation-delay: {{ loop.index * 0.2 }}s;
                    "> 
                    <div class="image">
                    {# <img src="{{ manga.image }}" alt="{{ manga.name }}"> #}
                    <div class="name">{{ manga.name }}</div>
                    <div class="description">{{ manga.description|slice(0, 70) }}...</div>
                    <div class="score">{{ manga.score }}</div>
                    <div class="votersNumber">{{ manga.votersNumber }}</div>
                </li>
                </a>
            {% endfor %}
        </ul>

    </section

    {# <!-- Généré sur https://www.shapedivider.app -->
    <div class="custom-shape-divider">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"
            ></path>
        </svg>
    </div> #}

</div>
{% endblock %}
